extends ../layouts/default

block content
  .container.project
      each project in portfolio
        div
      div.projectName
        a #{project.name}
      div
        ul.slides
          input(type='radio', name='radio-btn', checked='checked', id="img-1")
          li.slide-container
            .slide
              img(src='#{project.image1}')
          input(type='radio', name='radio-btn', id="img-2")
          li.slide-container
            .slide
              img(src='#{project.image2}')
          input(type='radio', name='radio-btn', id="img-3")
          li.slide-container
            .slide
              img(src='#{project.image3}')
          li.nav-dots
            label#img-dot-1.nav-dot(for='img-1')
            label#img-dot-2.nav-dot(for='img-2')
            label#img-dot-3.nav-dot(for='img-3')
