#header {
	margin-top: 30px;
}

.footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  background-color: #D0D1CD;
  width: 100%;
  color: black;
}
.footer a{
  color: black;

}
.gallery-image img{
    display:block;
    max-width:100%;
    height:auto;
}

.projectName{
  text-align: center;
}
.projectName a{
  color: black;
  font-size: 24px;
}